header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 0 2em;
}

header div {
    display: flex;
    gap: 3em;
}

header nav {
    display: flex;
    gap: 1em;
}
